/* ...
 *= require normalize
*/

h1 {
  text-align: center;
}

button {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.bad-chart-container {
  width: 980px;
  margin: auto;
}

.bad-chart-container rect {
  fill: #51E7B8;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path,
.x.axis line {
  stroke: none;
}

.axis text {
  font-size: 13px;
  fill: #999;
}

.y.axis path,
.y.axis line {
  stroke: #ccc;
}

.bar:hover {
  fill: #4FD3AA;
}
